.logoCore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 20%;
}

.titleCore {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2%;
  font-size: 2em;
}
